body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.quizWrapper {
  width: 80%;
  height: 50%;

  background-color: rgb(207, 203, 203);
  border-radius: 0.4rem;

  margin: 0 auto;
  text-align: center;
}

.quizTitle {
  text-align: center;
  color: rgb(72, 72, 72);

  font-family: "Roboto";
  font-variant: small-caps;
  font-size: 1.5rem;
}

.quizDesc {
  margin-top: 2%;
  padding: 0px 5% 0px 5%;

  font-size: 1rem;
  font-variant: normal;
}

.quizButton {
  margin: 3% 0 1.5% 0;

  padding: 5px 15px;
  font-size: 1rem;
}

.quizAnswers {
  margin-top: 2%;

  display:flex;
  flex-direction: column;

  justify-content: center;
}

.nextButton {
  margin: 2% 0 1% 0;
  width: 10%;

}